<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gastos.css') }}">
</head>
<body>
    <nav>
        <div class="nav-wrapper teal lighten-1">
            <a class="brand-logo" href="/">
                Gastos
            </a>
            <a class="sidenav-trigger" href="#" data-target="mobile-version">
                <i class="material-icons">menu</i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/add" title="Adicionar gasto"><i class="material-icons">add_circle</i></a></li>
                <li><a href="/monthly" title="Gastos mensais"><i class="material-icons">calendar_month</i></a></li>
                <li><a href="/recurrent" title="Gastos Recorrentes"><i class="material-icons">wifi_protected_setup</i></a></li>
                <li><a href="/settings" title="Configurações"><i class="material-icons">settings</i></a></li>
                <li><a href="/account" title="Minha conta"><i class="material-icons">person</i></a></li>
                <li><a href="/logout" title="Sair"><i class="material-icons">logout</i></a></li>
            </ul>
            <ul id="mobile-version" class="sidenav teal lighten-1">
                <li class="teal lighten-1">
                    <h4 class="white-text center-align">Gastos</h4>
                </li>
                <li class="teal lighten-1">
                    <a href="/add" class="white-text"><i class="material-icons white-text">add_circle</i>Adicionar</a>
                    <hr style="width: 90%; color: white;"/>
                </li>
                <li class="teal lighten-1">
                    <a href="/monthly" class="white-text"><i class="material-icons white-text">calendar_month</i>Gastos Mensais</a>
                    <hr style="width: 90%; color: white;"/>
                </li>
                <li class="teal lighten-1">
                    <a href="/recurrent" class="white-text"><i class="material-icons white-text">wifi_protected_setup</i>Gastos Recorrentes</a>
                    <hr style="width: 90%; color: white;"/>
                </li>
                <li class="teal lighten-1">
                    <a href="/settings" class="white-text"><i class="material-icons white-text">settings</i>Configurações</a>
                    <hr style="width: 90%; color: white;"/>
                </li>
                <li class="teal lighten-1">
                    <a href="/account" class="white-text"><i class="material-icons white-text">person</i>Minha conta</a>
                    <hr style="width: 90%; color: white;"/>
                </li>
                <li class="teal lighten-1">
                    <a href="/logout" class="white-text"><i class="material-icons white-text">logout</i>Sair</a>
                </li>
            </ul>
        </div>
    </nav>
    <nav style="margin-bottom: 2%; margin-top: 2px;">
        <div class="nav-wrapper teal lighten-3">
            <div class="col s12" style="padding-left: 10px;">
                <a class="breadcrumb" href="/">Gastos</a>
                {% block fnname %}
                    fnname
                {% endblock %}
            </div>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div class="card-panel red darken-1">
                        {{ message }}
                    </div>
                {% else %}
                    <script>
                        document.addEventListener('DOMContentLoaded', function(){
                            M.toast({html: '{{ message }}', classes: 'rounded'});
                        });
                    </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>      
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/helpers.js') }}"></script>

</body>
</html>
