{% extends "base.html" %}
{% block title %}Gastos de casa{% endblock %}
{% block fnname %}
<a class="breadcrumb" href="#">Mensais</a>
<a class="breadcrumb" href="#">2023</a>
{% endblock %}

{% block content %}
{% for idx in range(0, gastosMensaisView.grid | length, 4) %}
    <div class="row">
        {% for gastoView in gastosMensaisView.grid[idx:idx+4] %}
            <div class="col s6 m6 l3">
                <div class="card">
                    <div class="card-content black-text">
                        <span class="card-title left-align teal-text">{{ gastoView.month_name }}</span>
                        <div class="white red-text right-align bold">
                            <h6>R$ {{ "%.2f"|format(gastoView.total) }}</h6>
                        </div>
                    </div>
                    <div class="card-action left-align teal lighten-2">
                        <a href="/monthly/{{ gastoView.link }}">
                            <i class="material-icons white-text">search</i>
                        </a>
                    </div>
                </div>
            </div>  
        {% endfor %}
    </div>
{% endfor %}

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large green" href="#">
            <i class="material-icons">app_registration</i>
        </a>
        <ul>
            <li>
                <a class="btn-floating teal" href="#">
                    <i class="material-icons">chevron_left</i>
                </a>
            </li>
            <li>
                <a class="btn-floating teal" href="#">
                    <i class="material-icons">chevron_right</i>
                </a>
            </li>
            <li>
                <a class="btn-floating teal" href="/add">
                    <i class="material-icons">add</i>
                </a>
            </li>
        </ul>
    </div>

{% endblock %}
 
