{% extends "base.html" %}
{% block title %}Gastos de casa{% endblock %}
{% block fnname %}Adicionar{% endblock %}

{% block content %}
    {% if form.errors %}
        <div class="card-panel white-text red darken1">
            Erro ao salvar gasto.
        </div>
    {% endif %}
    <form action="#" method="post">
        {{ form.csrf_token }}
        <ul>
            <li>
                {{ form.quando.label }}
                {{ form.quando }}
            </li>
            <li>
                {{ form.quanto.label }}
                {{ form.quanto(placeholder_="R$ 0,00") }}
            </li>
            <li>
                {{ form.descricao.label }}
                {{ form.descricao(placeholder_="Descreva brevemente esse gasto...") }}
            </li>
            <li>
                {{ form.parcelado.label }}
                <div class="switch">
                    <label>
                        Não
                        {{ form.parcelado }}
                        <span class="lever"></span>
                        Sim
                    </label>
                </div>
            </li>
            <li class="hide {{'form_error' if form.parcelas.errors }}">
                {{ form.parcelas.label }}
                {{ form.parcelas(placeholder_="Foram quantas parcelas?") }}
                {% if form.parcelas.errors %}
                    <ul>
                    {% for error in form.parcelas.errors %}
                            <li style="color: #f44336"> - {{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                <span class="red"></span>
            </li>
            <li>
                {{ form.recorrente.label }}
                <div class="switch">
                    <label>
                        Não
                        {{ form.recorrente }}
                        <span class="lever"></span>
                        Sim
                    </label>
                </div>
            </li>
            <li>
                <div class="chips"></div>
                {{ form.tags(hidden_="hidden") }}
            </li>
            <li>
                <div class="right-align">
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Salvar
                    </button>
                </div>
            </li>
        </ul>
    </form>
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
{% endblock %}
